@{
    ViewData["Title"] = "HasContract";
}

<h2>Heeft reeds contract</h2>

<div class="danger">
    Deze consultant heeft reeds een contract! Archieveer dit contract of verleng het om het aan te passen.
</div>

<a asp-action="Index" class="btn-block">Naar alle contracten</a>