@model ContractenOpvolging.Models.AddRoleViewModel

@{
    ViewData["Title"] = "AddRole";
}

<h2>Rol aanpassen</h2>

<form asp-action="AddRole">
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => Model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => Model.Email)
            </dd>
        </dl>
        <div class="form-group">
            <label asp-for="ApplicationRoleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ApplicationRoleId" class="form-control" asp-items="@Model.ApplicationRoles">
                    <option selected="selected" value="">--Selecteer een rol--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

