<form asp-action="ConsultantZoeken" method="post" class="col-md-4">
    <input type="text" name="query" value="" class="search-query" placeholder="Geef familienaam..." />
    <input type="submit" value="Consultant zoeken" class="btn btn-sm" />
</form>