<form asp-action="KlantZoeken" method="post" class="col-md-4">
    <input type="text" name="query" value="" class="search-query" placeholder="Geef klantnaam..." />
    <input type="submit" value="Klant zoeken" class="btn btn-sm" />
</form>
